.bodie{
    display: flex;
}

.rainbow-line {
  width: 100%;
  /* height: 1.5px; */
  background: white;
}

/* Navbar */

/* Base Styles */
.main {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border-bottom: 1px solid black; */
  padding: 5px;
  background-color: #00e7b5;
}

.main .link {
  font-size: 20px;
  color: black;
  cursor: pointer;
}

.main .link:hover {
  text-decoration: none;
}

.main .title {
  display: flex;
  align-items: center;
}

.main .img2 {
  height: 50px;
  /* background-color: black; */
  border-radius: 5px;
  padding: 5px;
  margin-right: 10px;
}

.main .navbar-btn {
  width: 80px;
  height: 30px;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  margin: 10px;
}

.main .navbar-btn:hover {
  background-color: #831ee1;
  box-shadow: 0px 15px 20px #9b62d0;
  color: #fff;
  transform: translateY(-7px);
}

.main .search {
  display: flex;
  align-items: center;
  padding: 6px;
}

.main .input2 {
  padding: 5px;
  border: 1px solid black;
  border-radius: 10px;
  outline: none;
  flex-grow: 1;
  font-size: 15px;
  text-align: center;
}

/* Media Query for Mobile Devices */
@media (max-width: 600px) {

  .sidebar {
    /* height: 93vh; */
    /* width: 15%; */
    display: flex;
    flex-direction: row;
    align-items: center;
    border-right: 1px solid black;
    overflow-x: scroll;
    /* background-image: url(https://img.freepik.com/free-vector/modern-question-mark-pattern-background-help-support_1017-50408.jpg?t=st=1731239537~exp=1731243137~hmac=4dc7b804b582d624a876f7c294389278776975099be631e6ebcd6989eca1cadf&w=740); */
  }

  .main {
    /* flex-direction: column; */
    align-items: flex-start;
  }

  .main .title {
    margin: 10px;
    /* margin-bottom: 10px; */
  }

  .main .img2 {
    height: 25px;
    padding: 3px;
  }

  .main .link {
    font-size: 16px;
  }

  .main .navbar-btn {
    width: 80px;
    height: 25px;
    font-size: 10px;
    /* margin: 5px 0; */
  }

  .main .search {
    width: 100%;
    flex-direction: column;
    align-items: stretch;
  }

  .main .input2 {
    font-size: 14px;
    width: 100%;
    margin-bottom: 10px;
  }
}





/* LeftSideBar */
/* LeftSideBar */

.sidebar {
  height: 93vh;
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid black;
  overflow-y: scroll;
  /* background-image: url(https://img.freepik.com/free-vector/modern-question-mark-pattern-background-help-support_1017-50408.jpg?t=st=1731239537~exp=1731243137~hmac=4dc7b804b582d624a876f7c294389278776975099be631e6ebcd6989eca1cadf&w=740); */
}

/* Styles for a single input field */
.sidebar input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  /* border: 2px solid #ccc; */
  border: none;
  border-radius: 4px;
  background-color: #007FFF;
  font-size: 16px;
  color: white;
  transition: border-color 0.3s, box-shadow 0.3s;
}

/* Focus effect */
.sidebar input:focus {
  border-color: #66afe9;
  box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
  outline: none;
}

/* Placeholder text style */
.sidebar input::placeholder {
  color: rgb(255, 238, 238);
  /* font-style: italic; */
}


.sidebar .quiz-name{
  display: flex;
  justify-content: space-between;
}

.sidebar .delete{
  cursor: pointer;
}
.quiz:hover {
  /* cursor: pointer; */
}

.sidebar .quiz {
  padding: 10px;
  color: black;
}

.sidebar .quiz p {
  margin-left: 20px;
  margin-bottom: 0;
}

.sidebar .question {
  background-color: white;
  color: grey;
  text-align: center;
  border: 3px solid grey;
  border-radius: 5px;
  cursor: pointer;
  padding: 2px 20px;
  /* margin-left: 20px; */
  /* rgb(49, 147, 221) */
}

.sidebar .question:hover{
  border: 3px solid rgb(49, 147, 221);
  
}

.quiz.selected .question {
  border: 3px solid #007FFF; /* Change border color to red for selected quiz item */
}

.sidebar .timer-image {
  display: flex;
}

.sidebar .timer {
  position: relative;
  margin-top: 10px;
  margin-left: 10px;
}

.sidebar .img3 {
  height: 30px;
}

.sidebar .text-block {
  font-size: 10px;
  position: absolute;
  bottom: 17px;
  right: 9px;
  color: #d3d3d3;
}

.sidebar .questionImage {
  height: 50px;
  width: 70px;
  padding: 10px;
  border: 2px dotted #d3d3d3;
  margin-left: 10px;
}

.sidebar .img4 {
  height: 25px;
}

.sidebar .rectangle {
  height: auto;
}

.sidebar .rectangle-image {
  height: 30px;
}

.sidebar .add-button {
  z-index: 999;
  bottom: 20px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}



/* Mainbody */

.mainbody{
    height: 93vh;
    width: 67%;
    background-image: url(../Image/gradient_2.jpg);
    background-size: cover;
}

.mainbody .main-bodyinput{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    text-align: center;
    margin-top: 40px;
    margin-left: 15px;
    margin-right: 15px;
}

.mainbody .mainbody-input{
    font-size: 25px;
    padding: 4px;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    /* padding-left: 100px;
    padding-right: 100px; */
}

.mainbody .image{
    margin: 25px 300px 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px;
    /* border: 2px solid black; */
  background-color: rgba(39, 38, 38, 0.379); 
}

.mainbody .image p{
    margin-top: 20px;
}

.answer{
    display: flex;
    /* flex-direction: column; */
    /* margin: 100px; */
    margin-left: 30px;
    font-size: 10px;
}

.mainbody .answer-input-1{
    /* background-color: #9e7ac9; */
    background-color: #EB2D77;
}

.mainbody .answer-input-3{
    /* background-color: #64C5EB; */
    background-color: #64891F;
}

.mainbody .answer-input-2{
    /* background-color: #E84D8A; */
    background-color: #F06B12;
}

.mainbody .answer-input-4{
    /* background-color: #FEB326; */
    background-color: #BA40C5;
}

.mainbody .answer input{
    color: white;
    margin: 10px;
    padding: 20px;
    padding-right: 200px;
    border-radius: 10px;
    border-style: none;
    font-size: 17px;
}

.mainbody .answer-input-1::placeholder{
  color: white;
}
.mainbody .answer-input-2::placeholder{
  color: white;
}
.mainbody .answer-input-3::placeholder{
  color: white;
}
.mainbody .answer-input-4::placeholder{
  color: white;
}

.mainbody .xrc{
  height: 100px;
}

/* In your CSS file (e.g., styles.css) */
.custom-radio {
  display: none;
}

.custom-radio + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}

.custom-radio + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  border: 1px solid #ccc;
  border-radius: 50%;
  background: #fff;
}

.custom-radio:checked + label:before {
  border-color: #007bff;
  background: #007bff;
}


.custom-radio:checked + label:after {
  /* content: ''; */
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px; /* Adjust as needed */
  border: 1px solid #ccc;
  border-radius: 50%;
  vertical-align: middle;
  background-color: #fff;
}



/* Right Sidebar */

.rightSidebar{
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.rightSidebar h5{
    font-size: 22px;
    margin-bottom: 15px;
}

.rightSidebar select{
    padding: 5px;
    padding-right: 120px;
    margin-bottom: 30px;
}

.rightSidebar img{
    height: 27px;
}

.rightSidebar .imagee{
    display: flex;
}

