.dashboard {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    text-align: center;
    margin-top: 40px;
  }
  
  .top-right {
    position: absolute;
    top: 70px;
    right: 30px;
  }
  
  .center {
    text-align: center;
  }
  
  .dashboard-button {
    margin-top: 20px; /* Adjust margin as needed */
  }
  
  .plus {
    height: 200px;
    cursor: pointer;
  }
  
  .btn {
    /* Adjust button styles */
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #0056b3;
  }

  .quiz-list {
    display: flex;
    padding: 10px;
    margin-top: 20px;
    /* display: grid; */
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 10px;
    cursor: pointer;
  }
  
  .quiz-item {
    background-color: #831ee1;
    padding: 50px;
    border-radius: 4px;
    transition: transform 0.2s ease-in-out;
    color: white;
  }
  
  .quiz-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  
  .quiz-item h4 {
    margin-top: 0;
    margin-bottom: 5px;
  }
  
  .quiz-item p {
    margin: 0;
    font-size: 0.9rem;
    color: #666;
  }
  
  .allquiz{
    height: 100vh;
    flex-wrap: wrap; 
    /* display: flex; */
  }
  