.dashboard {
  display: flex;
  flex-direction: column;
  text-align: center;
  /* margin-top: 40px; */
  background-image:url(https://img.freepik.com/free-vector/modern-question-mark-pattern-background-help-support_1017-50408.jpg?t=st=1731401342~exp=1731404942~hmac=ae6fdce653ab0791b0d59d7dc1e9931d90ada3a0c03c1363be3301463a096347&w=740) ;
  opacity: 0.8;
  height: 100vh;
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
}

.dashboard h2{
  display: flex;
  padding-left: 10px;
  color: white;
}

.dashboard h3{
  /* margin-top: 20px; */
  padding-top: 30px;
  font-weight: 600;
  font-size: 40px;
  color: white
}

.top-right {
  position: absolute;
  top: 70px;
  right: 30px;
}

.center {
  text-align: start;
  margin-left: 70px;
}

.dashboard-button {
  /* margin-top: 20px;  */
}

.plus {
  height: 200px;
  cursor: pointer;
}

.dashboard .btn {
  /* Adjust button styles */
  background-color: #31ea9a;
  color: white;
  font-weight: 500;
  font-size: 15px;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.dashboard .btn:hover {
  border: 1px solid white;
  background-color: #14a765;
  box-shadow: 0px 15px 20px #14a765;
}


.quiz-list {
  display: grid;
  padding: 10px;
  margin-top: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 10px;
  cursor: pointer;
}

.quiz-item {
  background-color: rgba(222, 215, 228, 0.5); /* 0.7 makes it 70% opaque */
  padding: 50px;
  border-radius: 10px;
  transition: transform 0.2s ease-in-out;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.401);
}


.quiz-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.quiz-item h4 {
  margin-top: 0;
  margin-bottom: 5px;
}

.quiz-item p {
  margin: 0;
  font-size: 0.9rem;
  color: #666;
}

.allquiz {
  flex-wrap: wrap;
}

/* Media query for devices with screen width under 700px */
@media (max-width: 700px) {

  .center {
    text-align: start;
    margin-left: 10px;
  }

  .dashboard h3{
    font-size: 18px;
    padding-top: 10px;
  }

  .dashboard .quiz-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr;
    padding: 0;
    margin: 0;
  }

  .quiz-item {
    padding: 10px;
    width: 380px;
    margin: 5px 0;
  }

  .top-right {
    position: absolute;
    /* margin-top: 20px; */
    right: 37%;
    top: 0;
  }

  .dashboard .btn {
    width: 80px;
    height: 35px;
    font-size: 10px;
    padding: 0;
  }

  .dashboard {
    /* margin-top: 20px; */
  }
}
