/* Login Page  */
*{
 box-sizing: border-box;
}

.form-container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.login-form{
    border: 2px solid black;

    padding: 40px;
    border-radius: 10px;
}

.btn-primary{
    margin-top: 10px;
    margin-bottom: 30px;
}

/* Google-Login */

.google-image{
    height: 50px;
    cursor: pointer;
}