/* Login Page  */
*{
 box-sizing: border-box;
}

.banner{
    height: 100vh;
    width: 60%;
    /* background-color: #14a765; */
    background-image: url(https://img.freepik.com/free-vector/flat-style-confetti-background_23-2148446719.jpg?t=st=1731396652~exp=1731400252~hmac=dff510e2df1de39a2e393608fc79f4be0be1cf65e1fb48b18b8ee461bd01da99&w=996);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container{
    background-image: url(https://img.freepik.com/free-vector/flat-style-confetti-background_23-2148446719.jpg?t=st=1731396652~exp=1731400252~hmac=dff510e2df1de39a2e393608fc79f4be0be1cf65e1fb48b18b8ee461bd01da99&w=996);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #5d5349;
}

.login-form h3{
    font-weight: 600;
}

.login-form p{
    font-size: 13px;
    font-weight: 500;
}

.login-form{
    border: 1px solid rgba(0, 0, 0, 0.233);
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
}

.btn-primary{
    margin-top: 10px;
    margin-bottom: 30px;
}

.text p{
    margin-bottom: 0;
    display: flex;
    font-weight: 600;
    margin-top: 10px;
}

.d-grid{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.d-grid .button{
    color: white;
    cursor: pointer;
    padding: 10px 120px;
    background-color: #5d5349;
    border: 1px solid #5d5349;
    border-radius: 4px;
    margin-bottom: 10px;
}

.d-grid .button:hover{
    color: black;
    background-color: #ffdc54;
}

/* Google-Login */

.google-image{
    height: 50px;
    cursor: pointer;
}

.google{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid #5d5349;
    border-radius: 4px;
    padding: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

.google:hover{
    background-color: #ffdc54;
}

.ime img{
    height: 25px;
    padding-right: 8px;
}

.text{
    font-weight: 500;
}