/* body{
    color: white;
} */

* {
    box-sizing: border-box; /* Apply box-sizing to all elements */
}

.main-join{
    display: flex;
    flex-direction: column; 
    /* justify-content: center; */
    align-items: center;
    /* background-color: #46178f; */
    height: 100vh;
    color: black;
    text-align: center;
}

ul{
    list-style: none;
    
}

.box{
    /* border: 2px solid white; */
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.button{
    margin-top: 30px;
}

.join{
    /* display: flex; */
    background-color: #46178f;
    /* text-align: center; */
    height: 100%;
    min-width: 100%;
    color: white;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.input{
    padding: 15px;
    border: none;
    border-radius: 10px;
    outline: none;
    flex-grow: 1;
    font-size: 20px;
    text-align: center;
}

.input::placeholder{
    /* color: black; */
}

.room-id{
    font-weight: bold;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.pin{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.quiz-div{
    width: 100vw;
    font-size: 50px;
}

.quiz-join{
    margin-top: 80px;
    /* background-color: white; */
    /* color: black; */
}

.quiz-join h1{
    font-size: 70px;
}

.time{
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 20px;
}

.question-text{
    font-size: 35px;
    background-color: #46178f;
    color: white;
    padding: 20px;
    border-radius: 10px;
}

.optione{
  display: flex;
  justify-content: center;
  text-decoration: none;
  list-style-type: none;
}

.option-group{
  padding: 20px;
  /* margin: 10px; */
}

.options{
    border: 1px solid #E1DCF3;
    cursor: pointer;
    color: black;
    background-color: #E1DCF3;
    font-size: 20px;
    padding: 20px 00px;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* text-align: center; */
    width: 500px;
    height: 100px;
    margin: 10px;
    border-radius: 5px;
}

.options:hover{
    background-color: #8a56d7;
    color: black;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.winner {
    /* height: 100vh; */
    margin-top: 50px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 80px;
    font-family: inherit;
    color: white; /* Kahoot green */
    animation: fadeIn 2s ease-in-out;
}

.winner-div {
    /* display: flex; */
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #25076b; /* Kahoot yellow */
    padding: 20px;
    border-radius: 10px;
    animation: slideIn 1.5s ease-out;
}

.winner-div img {
    height: 100px;
    animation: fadeIn 3s ease-in-out;
}

.leaderboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    background-color: #46178f; /* Kahoot blue */
    color: white;
    padding: 20px;
    border-radius: 10px;
    animation: fadeIn 2s ease-in-out;
}

.leaderboard h2 {
    font-size: 70px;
    font-weight: bolder;
    text-decoration: underline;
    color: #e0613b; /* Kahoot orange */
    animation: slideIn 2s ease-out;
}

.leaderboard ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.correct {
    background-color: #49d65c !important;
    color: white;
  }
  
  .incorrect {
    background-color: #e41f1c !important;
    color: white;
  }
  
  .options.selected.correct {
    background-color: #49d65c !important; /* Ensure highest specificity */
    color: white !important;
  }

  .options.selected.incorrect {
    background-color: #e41f1c !important; /* Ensure highest specificity */
    color: white !important;
  }

  .winner-div .btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    position: absolute;
    right: 20px;
    bottom: 40px;
  }

  .winner-div .btn:hover{
    background-color: rgb(147, 49, 49);
  }
  

@media (max-width: 700px) {
  

  .join {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 160px;
  }

  .main-join {
    width: 100vw;
    height: 100vh;
    display: flex;
  }

  .quiz-join h1 {
    font-size: 50px;
  }

  .time {
    font-size: 20px;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .room-id{
    font-weight: normal;
  }

  .question-text {
    font-size: 15px;
    background-color: #46178f;
    color: white;
    padding: 20px;
    border-radius: 10px;
  }

  .optione {
    display: flex;
    justify-content: center;
    text-decoration: none;
    list-style-type: none;
  }

  .option-group {
    padding: 0;
  }

  .options {
    border: 1px solid #e1dcf3;
    cursor: pointer;
    color: black;
    background-color: #e1dcf3;
    font-size: 13px;
    padding: 10px 0;
    width: 180px;
    height: 90px;
    margin: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .options:hover{
    background-color: #E1DCF3 !important;
    color: black;
}

  .options .selected {
    background-color: inherit;
    color: inherit;
  }

  .options.correct {
    background-color: #49d65c;
    color: white;
  }

  .options.incorrect {
    background-color: #e41f1c;
    color: white;
  }

  .options.selected.correct {
    background-color: #49d65c !important; /* Ensure highest specificity */
    color: white !important;
  }

  .options.selected.incorrect {
    background-color: #e41f1c !important; /* Ensure highest specificity */
    color: white !important;
  }

  .winner {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 50px;
    font-family: inherit;
    color: white; /* Kahoot green */
    animation: fadeIn 2s ease-in-out;
  }

  .winner h1 {
    padding: 0;
  }

  .winner-div {
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #25076b; /* Kahoot yellow */
    padding: 5px;
    border-radius: 10px;
    animation: slideIn 1.5s ease-out;
  }

  .winner-div img {
    height: 80px;
    animation: fadeIn 3s ease-in-out;
  }

  .leaderboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background-color: #46178f; /* Kahoot blue */
    color: white;
    padding: 20px;
    border-radius: 10px;
    animation: fadeIn 2s ease-in-out;
  }

  .leaderboard h2 {
    font-size: 40px;
    font-weight: bolder;
    text-decoration: underline;
    color: #e0613b; /* Kahoot orange */
    animation: slideIn 2s ease-out;
  }

  .leaderboard ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

