.code{
    height: 35vh;
    background-color: #25076b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
}

.wrap{
    border: 2px solid white;
    /* margin: 50px 200px; */
    background-color: white;
    padding: 5px;
}

.players{
    height: 65vh;
    background-color: #46178f;
}

.pin{
    display: flex;
    font-weight: bold
}

.pincode{
    font-size: 70px;
    font-weight: bold
}

.players{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.player-list{
    display: flex;
    color: white;
    font-size: 40px;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.users{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    background-color: #28282B;
    font-size: 38px;
    margin: 20px;
}

.loading{
    background-color: #28282B;
    padding: 15px;
    border-radius: 20px;
}

.user-count{
    background-color: #28282B;
    color: white;
    padding: 7px;
    font-size: 20px;
    border-radius: 10px;
}

/* Host.css */
.host.question-active .players{
    background-color: white;
}
  .host.question-active .code {
    position: absolute;
    height: 20vh;
    /* top: 10px; */
    left: 20px;
    font-size: smaller;
    background-color: white;
  }
  
  .host.question-active .pincode{
    font-size: 40px;
  }

  .host.question-active .users{
    font-size: 20px;
  }

  .host.question-active .start {
    display: none;
  }

  .host.question-active .question h2{
    display: flex;

    justify-content: center;
    /* margin-top: 100px; */
    font-size: 20px;
    background-color: #46178f;
    padding: 20px;
    color: white;
    border-radius: 8px;
  }

  .host.question-active .time{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .host.question-active options{
    border: 1px solid rgb(230, 230, 79);
    cursor: pointer;
    /* color: white; */
    background-color: #1B1B1B;
    font-size: 25px;
    padding: 5px 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 1000px;
    margin: 20px;
  }
  
  .host.question-active .players{
    height: 100vh;
  }